@charset "UTF-8";

.contents {
	min-width: toRem(712);
	height: calc(100vh - toRem(44));
	padding: toRem(40);
	background-color: #fff;
	flex-shrink: 0;
	overflow: auto;

	.contents-flex {
		.contents-left {
			flex-grow: 1;
		}

		.contents-right {
			width: toRem(160);
			flex-shrink: 0;
		}
	}

	.ant-tabs {
		.ant-tabs-tab {
			padding: toRem(16) 0;
			font-size: toRem(16);

			&.ant-tabs-tab-active {
				.ant-tabs-tab-btn {
					font-weight: 400;
				}
			}
		}
	}

	.team-btn {
		gap: 6px;
		margin-right: toRem(14);
		padding-right: toRem(14);
		position: relative;

		&::after {
			content: "";
			width: 2px;
			height: 12px;
			background-color: rgba($color: #000000, $alpha: 0.12);
			transform: translateY(-50%);
			position: absolute;
			right: 0;
			top: 50%;
		}
	}

	.title-total {
		h4 {
			&.title-page {
				margin-bottom: 0;
			}
		}
	}

	.total-date {
		margin-top: toRem(16);
		margin-bottom: toRem(12);
		font-size: toRem(12);
		color: $title;
		line-height: 1.67;

		strong {
			color: $pointBlue;
			font-weight: 600;
		}
	}

	.total-date-list {
		width: 100%;

		.ant-card {
			.ant-card-head {
				min-height: auto;
				padding: toRem(16) toRem(16) 0 toRem(16);
				border-bottom: 0;
				font-size: toRem(14);
				color: $title;
				line-height: 1.43;
				font-weight: 700;
			}

			.ant-card-body {
				padding: 0 toRem(16) toRem(16) toRem(16);

				.txt-date {
					font-size: toRem(12);
					color: rgba($color: #000000, $alpha: 0.88);
					line-height: 1.67;
				}

				.txt-num {
					font-size: toRem(12);
					color: rgba($color: #000000, $alpha: 0.88);
					line-height: 1.67;
					font-weight: 600;
				}
			}
		}

		.ant-card-bordered {
			border-color: #cbd5e0;
		}
	}

	.calendar-tb {
		width: 100%;
		margin-top: toRem(12);

		thead {
			tr {
				th {
					height: toRem(30);
					background-color: rgba(0, 0, 0, 0.04);
					font-size: toRem(14);
					font-weight: 500;
					text-align: left;
					color: rgba(0, 0, 0, 0.88);

					&:first-child {
						padding-left: toRem(10);
					}

					&:last-child {
						padding-right: toRem(10);
					}

					&.sun {
						color: $pointRed;
					}

					&.sat {
						color: $pointBlue;
					}
				}
			}
		}

		tbody {
			tr {
				td {
					height: toRem(90);
					padding: toRem(4) toRem(2) toRem(12);
					border-bottom: 1px solid rgba(0, 0, 0, 0.06);
					font-size: toRem(12);
					color: rgba(0, 0, 0, 0.88);
					line-height: 1.6;
					vertical-align: top;
					cursor: pointer;

					&:first-child {
						padding-left: toRem(10);
					}

					&:last-child {
						padding-right: toRem(10);
					}

					&:hover {
						background-color: rgba(0, 0, 0, 0.02);
					}

					.day-txt {
						margin-bottom: toRem(12);
					}

					.schedule-txt-list {
						padding-left: toRem(12);
						margin-left: toRem(4);
						position: relative;

						& + .schedule-txt-list {
							margin-top: toRem(12);
						}

						li {
							display: flex;
							gap: toRem(4);

							strong {
								font-size: 600;
							}
						}

						&::before {
							content: "";
							width: toRem(4);
							height: 100%;
							border-radius: 20px;
							position: absolute;
							left: 0;
							top: 0;
						}

						&.delivery {
							&::before {
								background-color: #90cdf4;
							}
						}

						&.produce {
							&::before {
								background-color: #d6bcfa;
							}
						}

						&.test {
							&::before {
								background-color: #f6ad55;
							}
						}
					}

					&.other {
						.day-txt {
							color: rgba(0, 0, 0, 0.25);
						}

						.schedule-txt-list {
							color: rgba(0, 0, 0, 0.24);

							&::before {
								background-color: rgba(0, 0, 0, 0.24);
							}
						}
					}

					&.today {
						position: relative;

						&::before {
							content: "";
							height: toRem(4);
							background-color: $pointBlue;
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
						}

						.day-txt {
							color: $pointBlue;
							font-weight: 600;
						}
					}

					&.pick {
						background-color: #eff8ff;
					}
				}
			}
		}
	}
}

.ant-picker-dropdown {
	.ant-picker-panel-container {
		box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
			0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
	}
}

/* ~ 912px ----------- */
@media only screen and (max-width: 912px) {
	.contents {
		.contents-flex {
			.contents-right {
				width: toRem(160);
			}
		}
	}
}
