@charset "UTF-8";

.contents {
	min-width: toRem(712);
	padding: toRem(40) toRem(40) toRem(40) toRem(260);
	background-color: #fff;
	flex-shrink: 0;
	transition: padding-left 0.2s ease-in-out;

	.contents-top {
		// min-width: 1200px;
		background-color: #fff;
		padding: toRem(40) toRem(40) toRem(12) toRem(300);
		position: fixed;
		left: 0;
		top: toRem(44);
		right: 0;
		z-index: 10;
		transition: left 0.2s ease-in-out;

		.contents-top-scroll {
			overflow-x: auto;
		}
	}

	.contents-scroll {
		height: 100%;
		margin-left: toRem(40);
		overflow-y: auto;
		transition: margin-left 0.2s ease-in-out;
	}

	.contents-flex {
		margin-left: toRem(40);
		transition: padding-left 0.2s ease-in-out;

		.contents-left {
			flex-grow: 1;

			.contents-top {
				padding-left: 0;
				padding-right: 0;
				position: static;
			}

			.contents-scroll {
				margin-left: 0;
			}
		}

		.contents-right {
			width: toRem(240);
			margin-top: toRem(40);
			flex-shrink: 0;
		}
	}

	.ant-tabs {
		.ant-tabs-tab {
			padding: toRem(16) 0;
			font-size: toRem(16);

			&.ant-tabs-tab-active {
				.ant-tabs-tab-btn {
					font-weight: 600;
				}
			}
		}
	}

	.ant-tabs-top {
		> .ant-tabs-nav {
			.ant-tabs-ink-bar {
				height: toRem(4);
			}
		}
	}

	.team-btn {
		gap: 6px;
		margin-right: toRem(14);
		padding-right: toRem(14);
		position: relative;

		&::after {
			content: "";
			width: 2px;
			height: 12px;
			background-color: rgba($color: #000000, $alpha: 0.12);
			transform: translateY(-50%);
			position: absolute;
			right: 0;
			top: 50%;
		}
	}

	.title-total {
		h4 {
			&.title-page {
				margin-bottom: 0;
			}
		}
	}

	.total-date {
		margin-top: toRem(16);
		margin-bottom: toRem(12);
		font-size: toRem(12);
		color: $title;
		line-height: 1.67;

		strong {
			color: $pointBlue;
			font-weight: 600;
		}
	}

	.total-date-list {
		width: 100%;

		.ant-card {
			.ant-card-head {
				min-height: auto;
				padding: toRem(16) toRem(16) 0 toRem(16);
				border-bottom: 0;
				font-size: toRem(14);
				color: $title;
				line-height: 1.43;
				font-weight: 700;
			}

			.ant-card-body {
				padding: 0 toRem(16) toRem(16) toRem(16);

				.txt-date {
					font-size: toRem(12);
					color: rgba($color: #000000, $alpha: 0.88);
					line-height: 1.67;
				}

				.txt-num {
					font-size: toRem(12);
					color: rgba($color: #000000, $alpha: 0.88);
					line-height: 1.67;
					font-weight: 600;
				}
			}
		}

		.ant-card-bordered {
			border-color: #cbd5e0;
		}
	}

	.calendar-tb {
		width: 100%;

		thead {
			tr {
				th {
					height: toRem(30);
					background-color: rgba(0, 0, 0, 0.04);
					font-size: toRem(14);
					font-weight: 500;
					text-align: left;

					&:first-child {
						padding-left: toRem(10);
					}

					&:last-child {
						padding-right: toRem(10);
					}

					&.sun {
						color: $pointRed;
					}

					&.sat {
						color: $pointBlue;
					}
				}
			}
		}

		tbody {
			tr {
				td {
					height: toRem(90);
					padding: toRem(4) toRem(2) toRem(12);
					border-bottom: 1px solid rgba(0, 0, 0, 0.06);
					font-size: toRem(14);
					line-height: 1.57;
					vertical-align: top;
					cursor: pointer;

					&:first-child {
						padding-left: toRem(10);
					}

					&:last-child {
						padding-right: toRem(10);
					}

					&:hover {
						background-color: rgba(0, 0, 0, 0.02);
					}

					.day-txt {
						margin-bottom: toRem(12);
					}

					.schedule-txt-list {
						padding-left: toRem(12);
						margin-left: toRem(4);
						position: relative;

						& + .schedule-txt-list {
							margin-top: toRem(12);
						}

						li {
							display: flex;
							gap: toRem(4);

							strong {
								font-weight: 600;
							}
						}

						&::before {
							content: "";
							width: toRem(4);
							height: 100%;
							border-radius: 20px;
							position: absolute;
							left: 0;
							top: 0;
						}

						&.delivery {
							&::before {
								background-color: #90cdf4;
							}
						}

						&.produce {
							&::before {
								background-color: #d6bcfa;
							}
						}

						&.test {
							&::before {
								background-color: #f6ad55;
							}
						}
					}

					&.other {
						.day-txt {
							color: rgba(0, 0, 0, 0.25);
						}

						.schedule-txt-list {
							color: rgba(0, 0, 0, 0.24);

							&::before {
								background-color: rgba(0, 0, 0, 0.24);
							}
						}
					}

					&.today {
						position: relative;

						&::before {
							content: "";
							height: toRem(4);
							background-color: $pointBlue;
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
						}

						.day-txt {
							color: $pointBlue;
							font-weight: 600;
						}
					}

					&.pick {
						background-color: #eff8ff;
					}
				}
			}
		}
	}

	.btn-spacing-area {
		padding: 0 toRem(10);
		position: relative;

		&::after,
		&::before {
			content: "";
			width: toRem(1);
			height: toRem(12);
			background-color: rgba(0, 0, 0, 0.12);
			transform: translateY(-50%);
			position: absolute;
			top: 50%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}

		& + .btn-spacing-area {
			padding-left: 0;

			&::before {
				display: none;
			}
		}
	}

	.ant-input-search {
		.ant-input-group {
			.ant-input-affix-wrapper:not(:last-child) {
				padding: toRem(8) toRem(11);
			}
		}
	}

	.input-search {
		.ant-input-clear-icon {
			width: toRem(24);
			height: toRem(24);
			font-size: toRem(24);

			.anticon {
				vertical-align: toRem(24);
			}
		}
	}
}

.collapsed-mode {
	.header {
		left: toRem(64);
		transition: left 0.2s ease-in-out;
	}

	.contents {
		padding-left: toRem(104);
		transition: padding-left 0.2s ease-in-out;

		.contents-flex {
			margin-left: toRem(0);
			transition: padding-left 0.2s ease-in-out;
		}

		.contents-top {
			padding-left: toRem(104);
			transition: left 0.2s ease-in-out;
		}

		.contents-scroll {
			margin-left: 0;
			transition: margin-left 0.2s ease-in-out;
		}

		.anchor-contents {
			margin-left: 0;
		}
	}
}

.ant-picker-dropdown {
	.ant-picker-panel-container {
		box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
			0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
	}
}

.drop-btn-area {
	button {
		width: toRem(92);
	}
}

.ant-dropdown {
	min-width: toRem(92);
	max-width: toRem(143);
	padding: 0 toRem(4);

	.check-all {
		width: toRem(123);
		justify-content: space-between;
	}

	.ant-divider-horizontal {
		display: block;
		width: auto;
		min-width: auto;
		margin: 0 toRem(4);
	}

	.ant-dropdown-menu {
		.ant-dropdown-menu-item {
			padding-left: toRem(8);
			padding-right: toRem(8);
		}
		.ant-dropdown-menu-submenu-title {
			padding-left: toRem(8);
			padding-right: toRem(28);
		}

		.ant-dropdown-menu-item-group-title {
			width: toRem(89);
			padding-left: toRem(8);
			padding-right: toRem(8);
		}

		.ant-dropdown-menu-item-group-list {
			margin: 0;
		}
	}
}

.all-delete {
	border-bottom: toRem(1) solid $pointBlue;
}

.close-x {
	font-size: toRem(12);
	cursor: pointer;
}

.icon-redo {
	.ant-btn-icon {
		transform: rotate(-90deg);
	}
}

.paging-area {
	.ant-pagination {
		.ant-pagination-simple-pager {
			input {
				width: toRem(40);
			}
		}

		.ant-pagination-prev,
		.ant-pagination-next {
			min-width: toRem(24);

			&:hover {
				background-color: rgba(0, 0, 0, 0.06) !important;
				border-radius: toRem(6);
			}

			&:active {
				background-color: rgba(0, 0, 0, 0.1) !important;
			}

			&.ant-pagination-disabled {
				opacity: 0.25;
			}
		}
	}

	.btn-page {
		display: flex;
		justify-content: center;
		align-items: center;
		width: toRem(24);
		height: toRem(24);

		&:hover {
			background-color: rgba(0, 0, 0, 0.06);
			border-radius: toRem(6);
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: toRem(6);
		}

		&[disabled] {
			opacity: 0.25;
		}
	}
}

.list-num {
	& + .list-num {
		padding-left: toRem(8);
		position: relative;

		&::before {
			content: "";
			width: toRem(1);
			height: toRem(12);
			background-color: rgba(0, 0, 0, 0.12);
			transform: translateY(-50%);
			position: absolute;
			left: 0;
			top: 50%;
		}
	}
}

// .ellipsis-column {
// 	white-space: nowrap !important;
// 	overflow: hidden !important;
// 	text-overflow: ellipsis !important;
// }

.pop-title {
	font-size: toRem(14);
	font-weight: 600;
}

.pop-txt {
	font-size: toRem(14);
	line-height: toRem(16);
}

.search-result-area {
	flex-wrap: wrap;

	.ant-tag {
		margin-top: toRem(4);
		margin-bottom: toRem(4);
	}
}

.tit-search-result {
	flex-shrink: 0;
	margin-right: toRem(8);
	font-weight: 600;
}

.all-delete-tag {
	border-bottom: toRem(1) solid $pointBlue;
	font-size: toRem(12);
}

/* 등록 상세 */
.btn-space-area {
	padding-right: toRem(8);
	position: relative;

	&::after {
		content: "";
		width: toRem(1);
		height: toRem(12);
		background-color: rgba(0, 0, 0, 0.12);
		transform: translateY(-50%);
		position: absolute;
		right: 0;
		top: 50%;
	}
}

.btn-all-reset {
	height: toRem(22);
	border-bottom: toRem(1) solid $pointBlue;
	color: $pointBlue;

	&:not(:disabled):not(.ant-btn-disabled):hover {
		color: #4096ff;
	}
}

.product-info {
	display: flex;
	align-items: center;

	li {
		font-size: toRem(16);
		font-weight: 600;
		line-height: toRem(22);
		position: relative;

		& + li {
			padding-left: toRem(14);
			margin-left: toRem(14);

			&::before {
				content: "";
				width: toRem(1);
				height: toRem(12);
				background-color: rgba(0, 0, 0, 0.12);
				transform: translateY(-50%);
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}
}

.info-input-box {
	padding: toRem(16) toRem(24) 0;
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid #f0f0f0;
	border-radius: toRem(10);

	& + .info-input-box {
		margin-top: toRem(16);
	}
}

.gap-size {
	gap: toRem(16);
}

.info-input-area {
	.ant-form-item {
		flex: 1;
	}

	.ant-select-single {
		height: toRem(32);
	}

	.ant-picker {
		width: 100%;

		.ant-picker-input {
			height: toRem(30);
		}
	}

	&.flex-w-none {
		.ant-form-item {
			flex: none;

			&:last-child {
				flex: 1;
			}
		}

		.action-info {
			flex: 1;
			.ant-form-item {
				flex: 1;
			}
		}
	}

	&.product-cs-area {
		.ant-form-item {
			width: 10%;
			flex-shrink: 0;

			.ant-row {
				display: block;

				.ant-form-item-label {
					> label {
						display: block;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}
	}
}

.info-wrap {
	margin-top: toRem(44);
}

.info-input-wrap {
	gap: toRem(20);

	.info-input-box {
		flex: 1;

		.ant-typography {
			margin-bottom: toRem(16);
		}

		.ant-form-item {
			margin-bottom: toRem(16);
		}

		.ant-select {
			& + .ant-input {
				margin-top: toRem(6);
			}
		}

		& + .info-input-box {
			margin-top: 0;
		}
	}
}

.top-btn-area {
	padding-right: toRem(160);
}

.detail-top-area {
	align-items: center;
}

.cs-num {
	font-size: toRem(16);
	font-weight: 500;

	span {
		margin-left: toRem(4);
		font-size: toRem(20);
		font-weight: 700;
		color: rgba(0, 0, 0, 0.25);

		&.num {
			color: rgba(0, 0, 0, 0.88);
		}
	}
}

.tag-new {
	min-width: toRem(48);
	background-color: $white;
	font-size: toRem(14);
	font-weight: 600;
	text-align: center;
}

.tag-ing {
	min-width: toRem(48);
	background-color: #007dc3;
	border-color: #2f54eb;
	font-size: toRem(14);
	color: $white;
	font-weight: 600;
	text-align: center;
}

.tag-end {
	min-width: toRem(48);
	background-color: #444;
	border-color: #353535;
	font-size: toRem(14);
	color: $white;
	font-weight: 600;
	text-align: center;
}

.tag-receipt {
	min-width: toRem(48);
	background-color: #f68621;
	border-color: #d46b08;
	font-size: toRem(14);
	color: $white;
	font-weight: 600;
	text-align: center;
}

.tag-cancel {
	min-width: toRem(48);
	background-color: #c0c0c0;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: toRem(14);
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	text-align: center;
}

.ico-rotate {
	.ant-btn-icon {
		transform: rotate(270deg);
	}
}

.info-input-col2 {
	> div {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.row-2 {
		.info-input-box {
			& + .info-input-box {
				min-height: toRem(433);
				margin-top: toRem(16);
			}
		}
	}
}

.ant-form-item {
	margin-bottom: 16px;
}

.tit-side-area {
	padding-left: toRem(10);
	position: relative;

	&::before {
		content: "";
		width: toRem(1);
		height: toRem(12);
		background-color: rgba(0, 0, 0, 0.12);
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
		left: 0;
	}
}

.total-num {
	strong {
		color: $pointBlue;
	}
}

.select-input-area {
	.ant-form-item-control-input-content {
		display: flex;
		gap: toRem(4);
	}

	.ant-input {
		width: toRem(32);
	}
}

.charge-input {
	margin-bottom: 0;
}

.ant-form-item-label {
	> label {
		margin-right: toRem(8);

		&::after {
			display: none;
		}
	}
}

.file-upload-area {
	margin: toRem(16) 0;

	.title-file-upload {
		padding-right: toRem(12);
		font-size: toRem(14);
		color: rgba(0, 0, 0, 0.65);
		position: relative;

		&::after {
			content: "";
			width: toRem(1);
			height: toRem(12);
			background-color: rgba(0, 0, 0, 0.12);
			transform: translateY(-50%);
			position: absolute;
			top: 50%;
			right: 0;
		}
	}
}

.ant-upload-wrapper {
	.ant-upload-list {
		.ant-upload-list-item-container {
			.ant-upload-list-item {
				margin-top: toRem(16);
			}
		}

		&.ant-upload-list-text {
			margin-top: toRem(8);

			.ant-upload-list-item-container {
				.ant-upload-list-item {
					margin-top: toRem(8);
				}
			}
		}
	}
	&.ant-upload-picture-card-wrapper {
		.ant-upload {
			&.ant-upload-select {
				border-color: $pointBlue;
			}
		}
	}
}

.title-upload {
	&.ant-upload-wrapper {
		&.ant-upload-picture-card-wrapper {
			.ant-upload.ant-upload-select {
				width: toRem(88);
				height: toRem(32);
				background-color: $pointBlue;
				border: toRem(1) solid $pointBlue;
				color: $white;

				.anticon {
					margin-left: toRem(4);
				}
			}
		}
	}
}

.etc-area {
	flex: 1;

	.ant-input {
		flex: 1;
	}
}

/* login */
.login-wrap {
	height: 100vh;

	> div {
		flex: 1;

		&.login-img {
			background-color: #afbad2;
			align-items: center;
			justify-content: center;
		}

		&.login-box-area {
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: relative;

			.login-box {
				width: toRem(420);

				.ant-form-item {
					margin-bottom: toRem(12);
				}

				.btn-login {
					padding-top: toRem(24);
					margin-bottom: 0;
				}
			}

			.login-logo {
				font-size: toRem(24);
				color: #4d4f57;
				font-weight: 600;
				text-align: center;

				img {
					display: block;
					width: toRem(110);
					margin: 0 auto toRem(24);
				}
			}

			.login-descript {
				margin-top: toRem(4);
				margin-bottom: toRem(32);
				color: rgba(0, 0, 0, 0.45);
				text-align: center;
			}

			.txt-or {
				height: 1px;
				margin-top: toRem(43);
				margin-bottom: toRem(32);
				background-color: rgba(0, 0, 0, 0.06);
				position: relative;

				span {
					display: inline-block;
					padding: 0 toRem(16);
					background-color: $white;
					font-size: toRem(14);
					transform: translate(-50%, -50%);
					position: absolute;
					left: 50%;
					top: 0;
				}
			}

			.copyright {
				font-size: toRem(14);
				color: rgba(0, 0, 0, 0.45);
				text-align: center;
				position: absolute;
				left: 0;
				right: 0;
				bottom: toRem(24);
			}

			.input-login-area {
				.ant-input-affix-wrapper-readonly {
					background-color: rgba(0, 0, 0, 0.04);
				}
			}
		}
	}
}

/* 제어계수 팝업 */
.f-body,
.f-html {
	font-size: clamp(12px, 1.5vw, 18px);

	.ant-layout {
		font-size: inherit;
	}
}

.system-popup-wrap {
	width: 100%;

	.system-title-area {
		height: 52px;
		padding: 0 20px;
		border-bottom: 1px solid #d4d4d4;

		.title-page {
			margin-bottom: 0;
			font-size: 24px;
		}

		.control-info-area {
			p {
				font-size: 16px;
				font-weight: 600;
				position: relative;

				& + p {
					padding-left: 10px;
					margin-left: 10px;

					&::before {
						content: "";
						width: 1px;
						height: 12px;
						background-color: rgba(0, 0, 0, 0.12);
						transform: translateY(-50%);
						position: absolute;
						left: 0;
						top: 50%;
					}
				}
			}
		}
	}

	.popup-contents {
		height: calc(100vh - 53px);
		padding: 10px 20px;
		overflow-y: auto;

		.title-bullet {
			line-height: 40px;
		}
	}

	.box-info-wrap {
		border-top: 3px solid #d9d9d9;
		border-bottom: 3px solid #d9d9d9;
	}

	.box-info-area {
		flex: 1;

		.title-box-area {
			height: 34px;
			padding: 0 16px;
			background-color: #f1f7ff;
			border-bottom: 1px solid #d9d9d9;

			.title-box {
				font-size: 14px;
				color: #0958d9;
				font-weight: 700;
			}
		}

		& + .box-info-area {
			border-left: 2px solid #d2d2d2;
		}

		.ant-table-wrapper {
			.ant-table.ant-table-small {
				.ant-table-cell {
					padding: toRem(6) toRem(8);
					border-color: #e4e8ed;
					font-size: toRem(14);
					letter-spacing: -2%;
				}

				th {
					border-right: 1px solid #e4e8ed;
				}

				td {
					border-right: 1px solid #e4e8ed;

					&:last-child {
						border-right: 0 !important;
					}
				}
			}
		}

		.th-center {
			table {
				border-radius: 0 !important;
			}
			thead {
				th {
					padding-left: 0 !important;
					padding-right: 0 !important;
					text-align: center !important;

					&:last-child {
						border-right: 0 !important;
						border-radius: 0 !important;
					}
				}
			}
			tbody {
				th {
					font-weight: 500;
					white-space: nowrap;
				}
			}
		}

		// &.pid {
		// 	width: 24%;
		// 	flex: none;
		// }

		// &.variable {
		// 	width: 17%;
		// }

		// &.control {
		// 	width: 29%;
		// 	flex: none;
		// }

		// &.analog {
		// 	width: 16%;
		// 	flex: none;
		// }
	}
}

/* ~ 912px ----------- */
@media only screen and (max-width: 912px) {
	.contents {
		.contents-flex {
			.contents-right {
				width: toRem(160);
			}
		}
	}

	/* login */
	.login-wrap {
		> div {
			&.login-img {
				display: none;
			}

			&.login-box-area {
				.login-box {
					width: 100%;
					padding: 0 toRem(48);
				}
			}
		}
	}
}

/* ~ 1400px ----------- */
@media only screen and (max-width: 1400px) {
	.contents {
		.detail-top-area {
			flex-direction: column;
			align-items: flex-start;

			.detail-btn-area {
				margin-top: toRem(10);
				margin-left: auto;
			}
		}
	}
}

/* ~ 1200px ----------- */
@media only screen and (max-width: 1200px) {
	.info-input-area {
		&.col-5 {
			.ant-flex {
				flex-wrap: wrap;

				.ant-form-item {
					width: 19.4%;
					flex: none;
				}
			}
		}
	}

	.etc-area {
		flex: none;
		width: 100%;

		.ant-input {
			flex: 1;
		}
	}

	.info-input-wrap {
		gap: toRem(10);
	}

	.gap-size {
		gap: toRem(4);
	}
}

@media (hover: none) and (pointer: coarse) {
	.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
	.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
		color: inherit;
		border-color: inherit;
		background: inherit;
	}

	.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled).active:hover,
	.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled).active:hover {
		color: #0958d9;
		border-color: #0958d9;
		background: #ffffff;
	}
}
