@charset "UTF-8";

.contents {
	min-width: toRem(712);
	padding: toRem(40) toRem(40) toRem(40) toRem(260);
	background-color: #fff;
	flex-shrink: 0;
	transition: padding-left 0.2s ease-in-out;

	.contents-top {
		// min-width: 1200px;
		background-color: #fff;
		padding: toRem(40) 0 toRem(12) 0;
		margin-right: toRem(40);
		position: fixed;
		left: toRem(300);
		top: toRem(44);
		right: 0;
		z-index: 10;
		transition: left 0.2s ease-in-out;

		.contents-top-scroll {
			overflow-x: auto;
		}
	}

	.contents-scroll {
		height: 100%;
		margin-left: toRem(40);
		overflow-y: auto;
		transition: margin-left 0.2s ease-in-out;
	}

	.contents-flex {
		margin-left: toRem(40);
		transition: padding-left 0.2s ease-in-out;

		.contents-left {
			flex-grow: 1;

			.contents-top {
				padding-right: 0;
				position: static;
			}

			.contents-scroll {
				margin-left: 0;
			}
		}

		.contents-right {
			width: toRem(240);
			margin-top: toRem(40);
			flex-shrink: 0;
		}
	}

	.ant-tabs {
		.ant-tabs-tab {
			padding: toRem(16) 0;
			font-size: toRem(16);

			&.ant-tabs-tab-active {
				.ant-tabs-tab-btn {
					font-weight: 600;
				}
			}
		}
	}

	.ant-tabs-top {
		> .ant-tabs-nav {
			.ant-tabs-ink-bar {
				height: toRem(4);
			}
		}
	}

	.team-btn {
		gap: 6px;
		margin-right: toRem(14);
		padding-right: toRem(14);
		position: relative;

		&::after {
			content: "";
			width: 2px;
			height: 12px;
			background-color: rgba($color: #000000, $alpha: 0.12);
			transform: translateY(-50%);
			position: absolute;
			right: 0;
			top: 50%;
		}
	}

	.title-total {
		h4 {
			&.title-page {
				margin-bottom: 0;
			}
		}
	}

	.total-date {
		margin-top: toRem(16);
		margin-bottom: toRem(12);
		font-size: toRem(12);
		color: $title;
		line-height: 1.67;

		strong {
			color: $pointBlue;
			font-weight: 600;
		}
	}

	.total-date-list {
		width: 100%;

		.ant-card {
			.ant-card-head {
				min-height: auto;
				padding: toRem(16) toRem(16) 0 toRem(16);
				border-bottom: 0;
				font-size: toRem(14);
				color: $title;
				line-height: 1.43;
				font-weight: 700;
			}

			.ant-card-body {
				padding: 0 toRem(16) toRem(16) toRem(16);

				.txt-date {
					font-size: toRem(12);
					color: rgba($color: #000000, $alpha: 0.88);
					line-height: 1.67;
				}

				.txt-num {
					font-size: toRem(12);
					color: rgba($color: #000000, $alpha: 0.88);
					line-height: 1.67;
					font-weight: 600;
				}
			}
		}

		.ant-card-bordered {
			border-color: #cbd5e0;
		}
	}

	.calendar-tb {
		width: 100%;

		thead {
			tr {
				th {
					height: toRem(30);
					background-color: rgba(0, 0, 0, 0.04);
					font-size: toRem(14);
					font-weight: 500;
					text-align: left;

					&:first-child {
						padding-left: toRem(10);
					}

					&:last-child {
						padding-right: toRem(10);
					}

					&.sun {
						color: $pointRed;
					}

					&.sat {
						color: $pointBlue;
					}
				}
			}
		}

		tbody {
			tr {
				td {
					height: toRem(90);
					padding: toRem(4) toRem(2) toRem(12);
					border-bottom: 1px solid rgba(0, 0, 0, 0.06);
					font-size: toRem(14);
					line-height: 1.57;
					vertical-align: top;
					cursor: pointer;

					&:first-child {
						padding-left: toRem(10);
					}

					&:last-child {
						padding-right: toRem(10);
					}

					&:hover {
						background-color: rgba(0, 0, 0, 0.02);
					}

					.day-txt {
						margin-bottom: toRem(12);
					}

					.schedule-txt-list {
						padding-left: toRem(12);
						margin-left: toRem(4);
						position: relative;

						& + .schedule-txt-list {
							margin-top: toRem(12);
						}

						li {
							display: flex;
							gap: toRem(4);

							strong {
								font-weight: 600;
							}
						}

						&::before {
							content: "";
							width: toRem(4);
							height: 100%;
							border-radius: 20px;
							position: absolute;
							left: 0;
							top: 0;
						}

						&.delivery {
							&::before {
								background-color: #90cdf4;
							}
						}

						&.produce {
							&::before {
								background-color: #d6bcfa;
							}
						}

						&.test {
							&::before {
								background-color: #f6ad55;
							}
						}
					}

					&.other {
						.day-txt {
							color: rgba(0, 0, 0, 0.25);
						}

						.schedule-txt-list {
							color: rgba(0, 0, 0, 0.24);

							&::before {
								background-color: rgba(0, 0, 0, 0.24);
							}
						}
					}

					&.today {
						position: relative;

						&::before {
							content: "";
							height: toRem(4);
							background-color: $pointBlue;
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
						}

						.day-txt {
							color: $pointBlue;
							font-weight: 600;
						}
					}

					&.pick {
						background-color: #eff8ff;
					}
				}
			}
		}
	}

	.btn-spacing-area {
		padding: 0 toRem(10);
		position: relative;

		&::after,
		&::before {
			content: "";
			width: toRem(1);
			height: toRem(12);
			background-color: rgba(0, 0, 0, 0.12);
			transform: translateY(-50%);
			position: absolute;
			top: 50%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}

		& + .btn-spacing-area {
			padding-left: 0;

			&::before {
				display: none;
			}
		}
	}

	.ant-input-search {
		.ant-input-group {
			.ant-input-affix-wrapper:not(:last-child) {
				padding: toRem(8) toRem(11);
			}
		}
	}

	.input-search {
		.ant-input-clear-icon {
			width: toRem(24);
			height: toRem(24);
			font-size: toRem(24);

			.anticon {
				vertical-align: toRem(24);
			}
		}
	}
}

.collapsed-mode {
	.header {
		left: toRem(64);
		transition: left 0.2s ease-in-out;
	}

	.contents {
		padding-left: toRem(104);
		transition: padding-left 0.2s ease-in-out;

		.contents-flex {
			margin-left: toRem(0);
			transition: padding-left 0.2s ease-in-out;
		}

		.contents-top {
			left: toRem(104);
			transition: left 0.2s ease-in-out;
		}

		.contents-scroll {
			margin-left: 0;
			transition: margin-left 0.2s ease-in-out;
		}

		.anchor-contents {
			margin-left: 0;
		}
	}
}

.ant-picker-dropdown {
	.ant-picker-panel-container {
		box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
			0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
	}
}

.drop-btn-area {
	button {
		width: toRem(92);
	}
}

.ant-dropdown {
	min-width: toRem(92);
	max-width: toRem(143);
	padding: 0 toRem(4);

	.check-all {
		width: toRem(123);
		justify-content: space-between;
	}

	.ant-divider-horizontal {
		display: block;
		width: auto;
		min-width: auto;
		margin: 0 toRem(4);
	}

	.ant-dropdown-menu {
		.ant-dropdown-menu-item {
			padding-left: toRem(8);
			padding-right: toRem(8);
		}
		.ant-dropdown-menu-submenu-title {
			padding-left: toRem(8);
			padding-right: toRem(28);
		}

		.ant-dropdown-menu-item-group-title {
			width: toRem(89);
			padding-left: toRem(8);
			padding-right: toRem(8);
		}

		.ant-dropdown-menu-item-group-list {
			margin: 0;
		}
	}
}

.all-delete {
	border-bottom: toRem(1) solid $pointBlue;
}

.close-x {
	font-size: toRem(12);
	cursor: pointer;
}

.icon-redo {
	.ant-btn-icon {
		transform: rotate(-90deg);
	}
}

.paging-area {
	.ant-pagination {
		.ant-pagination-simple-pager {
			input {
				width: toRem(40);
			}
		}

		.ant-pagination-prev,
		.ant-pagination-next {
			min-width: toRem(24);

			&:hover {
				background-color: rgba(0, 0, 0, 0.06) !important;
				border-radius: toRem(6);
			}

			&:active {
				background-color: rgba(0, 0, 0, 0.1) !important;
			}

			&.ant-pagination-disabled {
				opacity: 0.25;
			}
		}
	}

	.btn-page {
		display: flex;
		justify-content: center;
		align-items: center;
		width: toRem(24);
		height: toRem(24);

		&:hover {
			background-color: rgba(0, 0, 0, 0.06);
			border-radius: toRem(6);
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: toRem(6);
		}

		&[disabled] {
			opacity: 0.25;
		}
	}
}

.list-num {
	& + .list-num {
		padding-left: toRem(8);
		position: relative;

		&::before {
			content: "";
			width: toRem(1);
			height: toRem(12);
			background-color: rgba(0, 0, 0, 0.12);
			transform: translateY(-50%);
			position: absolute;
			left: 0;
			top: 50%;
		}
	}
}

// .ellipsis-column {
// 	white-space: nowrap !important;
// 	overflow: hidden !important;
// 	text-overflow: ellipsis !important;
// }

.pop-title {
	font-size: toRem(14);
	font-weight: 600;
}

.pop-txt {
	font-size: toRem(14);
	line-height: toRem(16);
}

.search-result-area {
	flex-wrap: wrap;

	.ant-tag {
		margin-top: toRem(4);
		margin-bottom: toRem(4);
	}
}

.tit-search-result {
	flex-shrink: 0;
	margin-right: toRem(8);
	font-weight: 600;
}

.all-delete-tag {
	border-bottom: toRem(1) solid $pointBlue;
	font-size: toRem(12);
}

/* 등록 상세 */
.btn-space-area {
	padding-right: toRem(8);
	position: relative;

	&::after {
		content: "";
		width: toRem(1);
		height: toRem(12);
		background-color: rgba(0, 0, 0, 0.12);
		transform: translateY(-50%);
		position: absolute;
		right: 0;
		top: 50%;
	}
}

.btn-all-reset {
	height: toRem(22);
	border-bottom: toRem(1) solid $pointBlue;
	color: $pointBlue;

	&:not(:disabled):not(.ant-btn-disabled):hover {
		color: #4096ff;
	}
}

.product-info {
	display: flex;
	align-items: center;

	li {
		font-size: toRem(16);
		font-weight: 600;
		line-height: toRem(22);
		position: relative;

		& + li {
			padding-left: toRem(14);
			margin-left: toRem(14);

			&::before {
				content: "";
				width: toRem(1);
				height: toRem(12);
				background-color: rgba(0, 0, 0, 0.12);
				transform: translateY(-50%);
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}
}

.info-input-box {
	padding: toRem(16) toRem(24) 0;
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid #f0f0f0;
	border-radius: toRem(10);
}

.info-input-area {
	.ant-form-item {
		flex: 1;
	}

	.ant-select-single {
		height: toRem(32);
	}

	.ant-picker {
		width: 100%;

		.ant-picker-input {
			height: toRem(30);
		}
	}
}

.info-wrap {
	margin-top: toRem(44);
}

.info-input-wrap {
	.info-input-box {
		flex: 1;

		.ant-typography {
			margin-bottom: toRem(16);
		}

		.ant-form-item {
			margin-bottom: toRem(16);
		}

		.ant-select {
			& + .ant-input {
				margin-top: toRem(6);
			}
		}
	}
}

.top-btn-area {
	padding-right: toRem(160);
}

.detail-top-area {
	align-items: center;
}

/* ~ 912px ----------- */
@media only screen and (max-width: 912px) {
	.contents {
		.contents-flex {
			.contents-right {
				width: toRem(160);
			}
		}
	}
}

/* ~ 1200px ----------- */
@media only screen and (max-width: 1400px) {
	.contents {
		.detail-top-area {
			flex-direction: column;
			align-items: flex-start;

			.detail-btn-area {
				margin-top: toRem(10);
				margin-left: auto;
			}
		}
	}
}

@media (hover: none) and (pointer: coarse) {
	.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
	.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
		color: inherit;
		border-color: inherit;
		background: inherit;
	}

	.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled).active:hover,
	.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled).active:hover {
		color: #0958d9;
		border-color: #0958d9;
		background: #ffffff;
	}
}
