@charset "UTF-8";

.ant-layout {
	background-color: #fff;
}

.header {
	height: 44px;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.lnb-area {
	padding: 12px;
	background-color: #f9f9f9;
	border-right: 1px solid #edf2f7;
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;

	.ant-menu {
		background-color: transparent;
		border-inline-end: 0 !important;
	}
}

.lnb-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	margin-bottom: 16px;
	padding-left: 8px;
}

.logo {
	font-size: 18px;
	color: #1d56bc;
	font-weight: 800;
	transition: opacity 0.3s ease-in-out;
}

.btn-menu {
	font-size: 18px;
	transition: margin-right 0.2s ease-in-out;
}

.contents {
	height: calc(100vh - 44px);
	margin-top: 44px;
	background-color: #fff;
}
